@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { -webkit-transition: 1s all ease; -o-transition: 1s all ease; transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom: 2px solid #a8ad01;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  background-color: #a8ad01;
}
.navbar ul{ padding-left: 3%; }

.navbar {
  -ms-flex-preferred-size: 55%;
      flex-basis: 52%;
  padding: 3%;
}
.navbar li { padding: 0 2%; }

nav a {
  text-transform: uppercase;
  color: #fcfcf9;
}

a:hover{color: #750e2b;}
.donate { padding: 2% 0 2% 3%; }

.donate a{
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px;
  border: 1px solid;
  background-color: #fcfcf9;
  color: #750e2b;
  border-radius: 13px;
}

.donate a::before {
  border-radius: 50%;
  content: '\f004'; 
  font-family: 'Font Awesome 5 Free';
  font-size: 17px;
  float: right;
}

.donate a:hover{ color: #9ACD32; }
 /*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner */
.banner{ position: relative; }

.banner h2 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 71%;
  left: 11%;
}
/* banner ended*/

/* grant_program section started*/
.grant_program h3 {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 925;
}
.grant_program h3 {
  text-align: center;
}
.grant_program p  {
  font-size: 14px;
  text-align: center;
  padding: 20px 6% 20px 12%;
}
/* grant_program ended*/

/* menubar started*/
.menubar a {
  color: #000000;
  text-transform: uppercase;
  font-size: 15px;
}
.menubar a:hover{ color: #750e2b; }

.grant_program .wrapper{ padding: 5% 0; }

.menubar li {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  padding: 17px 0;
}
.menubar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.menubar li:last-child a {
  border: 1px solid;
  border-radius: 10px;
  padding: 6% 9%;
  font-size: 15px;
  font-weight: bolder;
  background: #da8c12;
  color: #fff;
}
.menubar li:last-child { padding: 1%; }

.menubar li:last-child a:hover{ color: #750e2b; }

/* menubar ended*/

/* objective started*/
.objective .wrapper { padding: 35px 0; }

/* common-css for all .section-top in all sections*/
.section-top { text-align: center; }
.section-top p { padding-top: 25px; }

.section-top h4 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a8ad01;
}
ul.objective-sections {
  padding: 35px 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objective-sections li {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  border: 1px solid #0f0;
  text-align: center;
  padding: 4.5% 2%;
  color: #fff;
  background-color: #a8ad01;
}

.objective-sections h5 {
  padding-top: 80%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.objective-sections p {
  padding-top: 12%;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}
/* objective ended*/

/* priority_area started*/
.priority_areas .wrapper { padding: 35px 0; }

.priority_areas ul { padding: 30px 0 30px 15%; }

.headings span {
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}
.headings li {
  padding: 1.5% 0;
  font-size: 15px;
}
.priority_areas .para_2 {
  text-align: center;
  font-size: 15px;
  padding-bottom: 2%;
}
/* priority_area ended*/

/* available_grant started*/
section.available_grants ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 9%;
}
.available_grants .wrapper { padding-top: 35px 0 70px 0; }

section.available_grants li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}
section.available_grants li h5 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5% 0;
  background-color: #e7f2d7
}
.available_grants .para_1 { padding: 12%; }

.available_grants .para_2 { padding: 7% 0%; }

.available_grants .para_3 { padding: 18% 5%; }

.available_grants a {
  border: 1px solid;
  border-radius: 10px;
  padding: 6% 9%;
  font-size: 15px;
  font-weight: bolder;
  background: #da8c12;
  color: #fff;
}
.available_grants a:hover { color: #750e2b; }

.available_grants .section-top p { padding-bottom: 1%; }

.available_grants li p { background-color: #f9fcf5; }

/* available_grants ended*/

/* eligibility started*/
.eligibility .wrapper {
  padding-top: 35px;
  position: relative;
}
.eligibility .para_1 {
  padding: 25px 6% 0 6%;
  font-size: 14px;
  line-height: 22px;
}
.eligibility .para_2 {
  font-size: 14px;
  padding-bottom: 30px;
}
/* eligibility ended*/
/* download forms started*/
.download_forms h4{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
.download_forms ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8% 0 0 15%;
}
.download_forms li{ padding: 10% 0; }

.download_forms a {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 17px;
  padding: 3% 0;
  color: #000;
}

.download_forms {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 4px dashed #a4a82f;
  background-color: #ffffff;
  padding: 3.5% 7% 3.5% 4%;
}
.download_forms a:hover{ color: #750e2b; }

/* download-form ended*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { padding-bottom: 70px; }
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 350px;
}
ul.footer-menu {padding: 3%;}
.footer-menu a {color: black;}
.footer-menu a:hover{color: #750e2b;}
/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  